label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

.error {color: #FF0000;}

input.MyButton {
width: 220px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 120%;
background: #3366cc;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
}

input.MyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}